:root {
  --color-azul-escuro-principal: #141b29;
  --color-azul-claro: #e6e9f0;
  --color-nav: #192233;
  --color-roxo: #6E3DC8;
  --color-azul-bebe: #6781F7;
  /* --color-fundo:#192233; */
  --color-claro: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  background: var(--color-nav);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  position: fixed;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 252px;
  top: 50px;
  height: calc(100vh - 50px);
  background: var(--color-azul-escuro-principal);
  transform: translateX(-100%);
  transition: .4s ease;
}

.navigation li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid rgba(145, 107, 141, 0.5);
}

.navigation a {
  color: var(--color-azul-claro);
  display: block;
  line-height: 3.5;
  padding: 8px 10px;
  text-decoration: none;
  transition: .4s ease;
  /* font: 1rem 'Agbalumo'; */

  /* font: 1.2rem 'Oswald'; */
  font: 400 1rem 'Dosis';
}

.navigation a:hover {
  transform: translateX(5%);
}

#btn-nav {
  display: none;
}

#btn-nav:checked~nav {
  transform: translateX(0);
}

.btn-nav {
  color: var(--color-azul-claro);
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 6.5px 15px;
  transition: .2s ease;
  background: rgba(0, 0, 0, .1);
}

.btn-nav:hover {
  background: rgba(0, 0, 0, .3);
}

.text-info{
    color: var(--color-azul-claro);;
    padding: 14px;
    font: 1rem 'Kdam Thmor Pro';
  }