html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 60px;
}

.main-header {
  background: var(--color-nav);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: end;
  position: fixed;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 252px;
  top: 50px;
  height: calc(100vh - 50px);
  background: var(--color-azul-escuro-principal);
  transform: translateX(-100%);
  transition: .4s ease;
}

.navigation li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid rgba(145, 107, 141, 0.5);
}

.navigation a {
  color: var(--color-azul-claro);
  display: block;
  line-height: 3.5;
  padding: 8px 10px;
  text-decoration: none;
  transition: .4s ease;
  /* font: 1rem 'Agbalumo'; */

  /* font: 1.2rem 'Oswald'; */
  font: 400 1rem 'Dosis';
}

.navigation a:hover {
  transform: translateX(5%);
}

#btn-nav {
  display: none;
}

#btn-nav:checked~nav {
  transform: translateX(0);
}

.btn-nav {
  color: var(--color-azul-claro);
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 6.5px 15px;
  transition: .2s ease;
  background: rgba(0, 0, 0, .1);
}

.btn-nav:hover {
  background: rgba(0, 0, 0, .3);
}


.espacamento-linha {
  margin: 20px 0px 20px 0px;
}

.linha {
  margin: 0 auto;
  color: #F5F5F5;
  width: 80%;
}

.linha2 {
  margin: 0 auto;
  color: var(--color-roxo);
  width: 40%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-destaque {
  margin: 0 auto;
  text-align: center;
}

.imgHome {
  width: 60%;
  margin: 7rem 0 0;
  border-radius: 20px;
  /* height: 100px; */
}

.imgQuantica,
.imgenergia,
.img-profissionais {
  margin: 4rem 0 !important;
  width: 90% !important;
  border-radius: 20px;
}

.subtitulo {
  margin-top: 50px;
  font-weight: 200;
  font-family: 'Kdam Thmor Pro';
  color: var(--color-azul-bebe)
}

.subtitulo2 {
  margin-top: 50px;
  font-weight: 200;
  font: 1.5rem 'Kdam Thmor Pro';
  color: var(--color-azul-bebe)
}


.text-descricao {
  margin: 0 auto;
  width: 80%;
}

.text-descricao .titulo {
  margin-top: 30px;
  font: 600 1.5rem 'Kdam Thmor Pro';
  color: var(--color-roxo)
}

.text-descricao .descricao {
  text-align: justify;
  padding-top: 20px;
  font: 1.3rem 'Dosis';
  color: var(--color-azul-escuro-principal)
}

/* vantagens-desvantagens */

#vantagens-desvantagens {
  display: flex;
}

#vantagens-desvantagens .texto-vd {
  margin: 0 auto;
  display: flex;
}

#vantagens-desvantagens .texto-vd .espaco-vd {
  border: 8px solid var(--color-roxo);
  border-style: dotted;
  border-radius: 20px;
  margin: 20px;
  padding: 13px;
}

#vantagens-desvantagens .texto-vd .espaco-vd p {
  text-align: center;
  margin-top: 10px;
  font: 400 1rem 'Dosis';
}

/* como Ingressar  e oportunidades-desenvolvimento*/
.oportunidades-desenvolvimento {
  margin: 40px 0;
}

.oportunidades-desenvolvimento .subtitulo {
  margin-bottom: 20px;
}

.comoIngressar {
  margin-bottom: 20px;
}

.topicos-como-ingressar2{
  display: none;
}

table {
  border: 1px var(--color-azul-bebe);
  width: 90%;
  margin: 0 auto;
}

table tr td {
  padding: 27px;
}

table tr td p {
  font-weight: 200;
  margin-bottom: 11px;
  font-family: 'Kdam Thmor Pro';
  color: var(--color-azul-bebe)
}

table tr td ul li {
  margin-bottom: 11px;
  font: 1rem 'Dosis';
  color: var(--color-azul-escuro-principal)
}

table tr td ul li span {
  margin-bottom: 11px;
  font-weight: bold;
  font: 14px 'Kdam Thmor Pro';
  color: var(--color-azul-escuro-principal)
}

/* Aplicações Práticas */

/* Desafios Oportunidades, Estudos de casos e matematica*/
#estudos {
  margin-bottom: 45px;
}

.titulo-desafio {
  margin-bottom: 30px;
}

.conteudo-desafio .subtitulo {
  margin-bottom: 40px;
}

.desafio,
.estudos-casos,
.matematica {
  margin: 0 auto;
  width: 80%;
}

.desafio ol,
.estudos-casos ol,
.matematica ol {
  list-style: none;
}

.desafio ol li,
.estudos-casos ol li,
.matematica ol li {
  margin-right: 30px;
  margin-top: 30px;
}

.matematica ol li {
  margin-top: 11px !important;
}

.desafio ol li .text-desafio,
.estudos-casos ol li .text-desafio,
.matematica ol li .text-desafio {
  margin: -27px 0 0 17px;
  font-weight: bold;
  font: 14px 'Kdam Thmor Pro';
  color: var(--color-azul-escuro-principal)
}

.desafio ol li .descricao-desafio,
.estudos-casos ol li .descricao-desafio,
.matematica ol li .descricao-desafio {
  margin: 10px 17px 35px;
  font: 1rem 'Dosis';
  color: var(--color-azul-escuro-principal)
}

.desafio ol li::before,
.estudos-casos ol li::before {
  background-color: var(--color-azul-bebe);
  color: var(--color-claro);
  display: inline-block;
  width: 1em;
  margin-left: -0.9em;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid var(--color-azul-bebe);
  border-radius: 6px;
  padding: 4px;
  width: 18px;
}

.matematica .matematica-includes {
  display: flex;
}

.matematica ol li::before {
  background-color: var(--color-azul-bebe);
  color: var(--color-claro);
  display: inline-block;
  width: 1em;
  margin-left: -0.9em;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid var(--color-azul-bebe);
  padding: 4px;
  border-radius: 50%;
}

.desafio ol .um::before,
.estudos-casos ol .um::before,
.matematica ol .um::before {
  content: "\2081";
}

.desafio ol .dois::before,
.estudos-casos ol .dois::before,
.matematica ol .dois::before {
  content: "\2082";
}

.desafio ol .tres::before,
.estudos-casos ol .tres::before,
.matematica ol .tres::before {
  content: "\2083";
}

/* quantica-potencial , Finanças e medicina*/
.financas .subtitulo2,
.medicina .subtitulo2 {
  margin-bottom: 30px;
}

.financas .conteudo,
.quantica-potencial .conteudo,
.medicina .conteudo {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.recursos .conteudo {
  display: flex;
  margin-top: 40px;
  margin-bottom: 45px;
}

.text-energia,
.text-Quantica,
.text-profissionais {
  display: none;
}


.financas .text,
.quantica-potencial .text,
.energia .text,
#sobreComputacao .text,
.profissionais .text,
.medicina .text,
.recursos .text {
  margin: 0 auto;
}

.energia .text,
#sobreComputacao .text,
.profissionais .text {
  margin-top: 10px;
  text-align: center;
}

.quantica-potencial .text span,
.energia .text span,
#sobreComputacao .text span,
.profissionais .text span,
.financas .text span,
.medicina .text span,
.recursos .text span {
  font-weight: bold;
  font: 14px 'Kdam Thmor Pro';
  color: var(--color-azul-escuro-principal)
}

.quantica-potencial .text p,
.energia .text p,
#sobreComputacao .text p,
.profissionais .text p,
.financas .text p,
.medicina .text p,
.recursos .text p {
  font: 1rem 'Dosis';
  padding: 10px;
  color: var(--color-azul-escuro-principal)
}

.financas .text p {
  width: 29rem;
}

.recursos .text p {
  width: 20rem;
}

/* Criptografia */
.criptografia {
  margin-bottom: 45px;
}

.criptografia .conteudo {
  display: flex;
}

.criptografia .text {
  background-color: var(--color-roxo);
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.criptografia .text span {
  font-weight: bold;
  font: 18px 'Kdam Thmor Pro';
  color: var(--color-azul-claro)
}

.criptografia .text p {
  font: 1rem 'Dosis';
  padding: 13px;
  color: var(--color-azul-claro)
}

/* Logística */
.logistica {
  margin-bottom: 45px;
}

.logistica .text {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logistica .cor-roxa {
  background-color: var(--color-roxo);
  border-radius: 20px;
  margin-top: 20px;
  height: 20%;
}

.logistica .text span {
  margin: 15px;
  font-weight: bold;
  font: 18px 'Kdam Thmor Pro';
  color: var(--color-azul-escuro-principal)
}

.logistica .text p {
  font: 1.2rem 'Dosis';
  padding: 10px;
  text-align: right;
  color: var(--color-azul-claro)
}

.logistica .sem-roxo p {
  font: 1.2rem 'Dosis';
  padding: 10px;
  color: var(--color-azul-escuro-principal)
}

.borda {
  font-size: 90px;
  color: var(--color-roxo);
  margin-top: -28px;
  text-align: center;
}

.img-menores {
  border-radius: 20px;
}

.img-menores-financas {
  border-radius: 20px;
  width: 70%;
}

.bibliografia .conteudo {
  margin: 20px;
}

.bibliografia .conteudo a {
  text-decoration: none;
  font-weight: bold;
  font: 1rem 'Kdam Thmor Pro';
  color: var(--color-roxo)
}

.bibliografia .conteudo a span {
  color: var(--color-azul-escuro-principal)
}

.bibliografia .conteudo {
  margin-top: 20px;

}

@media (min-width: 100px) and (max-width: 400px) {
  #vantagens-desvantagens .texto-vd {
    margin: 0 auto;
  }

  #vantagens-desvantagens .texto-vd .espaco-vd {
    margin-top: 35px;
  }

  #vantagens-desvantagens {
    margin: 0 auto;
    display: block;
  }

  #vantagens-desvantagens .texto-vd {
    margin-bottom: 40px;
    display: block;
  }

  .imgHome {
    width: 90%;
  }

  .imgQuantica,
  .imgenergia,
  .img-profissionais {
    display: none;
  }

  .recursos .conteudo,
  .medicina .conteudo,
  .financas .conteudo,
  .quantica-potencial .conteudo,
  .energia .conteudo,
  #sobreComputacao .conteudo,
  .criptografia .conteudo {
    display: block;
  }

  .recursos .text p {
    margin-bottom: 20px;
    width: 100%;
  }

  .medicina .text p,
  .financas .text p {
    margin-bottom: 20px;
    width: 100%;
  }

  .text-energia,
  .text-Quantica,
  .text-profissionais {
    display: block;
  }

  .topicos-como-ingressar{
    display: none;
  }

  .topicos-como-ingressar2{
    display: block;
  }
  
}

@media (min-width: 401px) and (max-width: 1070px) {
  #vantagens-desvantagens .texto-vd {
    margin: 0 auto;
  }

  #vantagens-desvantagens .texto-vd .espaco-vd {
    margin-top: 35px;
  }

  #vantagens-desvantagens {
    margin: 0 auto;
    display: block;
  }

  #vantagens-desvantagens .texto-vd {
    margin-bottom: 40px;
    display: block;
  }

  .imgHome {
    width: 90%;
  }

  .img-destaque .imgQuantica,
  .imgenergia,
  .img-profissionais {
    display: none;
  }

  .recursos .conteudo,
  .medicina .conteudo,
  .financas .conteudo,
  .quantica-potencial .conteudo,
  .energia .conteudo,
  #sobreComputacao .conteudo,
  .profissionais.conteudo,
  .criptografia .conteudo {
    display: block;
  }

  .recursos .text p {
    margin-bottom: 20px;
    width: 100%;
  }

  .medicina .text p,
  .financas .text p {
    margin-bottom: 20px;
    width: 100%;
  }

  .text-energia,
  .text-Quantica,
  .text-profissionais {
    display: block;
  }

  .topicos-como-ingressar{
    display: none;
  }

  .topicos-como-ingressar2{
    display: block;
  }

}


/* @media screen and (max-width: 1070px) {

} */