main {
    text-align: center;
    width: 100%;
    margin: auto 0;
}

form {
    width: 30rem;
    height: 35rem;
    margin-top: 70px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #E8A2A2;
    box-shadow: 2px 2px 2px 1px rgba(232, 162, 162, 1);
}

#conteudo-form h1 {
    margin: 40px 0;
    font: 3rem 'Itim';
    color: #E8A2A2;
    text-align: center;
}

#conteudo-form form .text {
    margin: 10px 0;
}

#conteudo-form form label {
    color: white;
    font: 1.3rem 'Itim';
}

#conteudo-form form input {
    font: 1rem 'Itim';
    color: #1E1E1E;
    padding-left: 8px;
    font-size: 20px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #E8A2A2;
}

#conteudo-form form button {
    font: 1.7rem 'Itim';
    color: #1E1E1E;
    background-color: #AB5959;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#conteudo-form form textarea {
    color: #1E1E1E;
    font: 1rem 'Itim';
    padding: 8px;
    width: 350px;
    height: 100px;
    margin-bottom: 20px;

    border: none;
    border-radius: 10px;

    background-color: #E8A2A2;
}

@media (min-width: 300px) and (max-width: 580px) {
    form {
        width: 13rem;
        height: 29rem;
    }

    #conteudo-form h1 {
        margin: 10px 0;
        font: 2rem 'Itim';
    }

    #conteudo-form form label {
        text-align: center;
    }

    #conteudo-form form input {
        width: 170px;
    }

    #conteudo-form form button {
        width: 170px;
    }

    #conteudo-form form textarea {
        width: 170px;
    }


}

@media (min-width: 581px) and (max-width: 700px) {
    form {
        width: 24rem;
        height: 29rem;
    }

    #conteudo-form h1 {
        margin: 10px 0;
        font: 2rem 'Itim';
    }

    #conteudo-form form label {
        text-align: center;
    }

}