* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo,
#conteudo-form {
    width: 60%;
    margin: 0 auto;
}

body {
    background-color: #1E1E1E;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin: 0 auto;
}

.menu figure img {
    width: 100px;
}

.menu nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 160px;
}

.menu nav ul li a {
    font: 1.5rem 'Itim';
    color: #E8A2A2;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

footer figure img {
    width: 15rem;
}

footer figure img {
    width: 15rem;
}

footer .dados-pessoal {
    font: 500 0.9rem 'Inter';
    color: #E8A2A2;
    padding-top: 10px;
}

footer .dados {
    font: 500 0.9rem 'Inter';
    color: white;
    padding-top: 10px;
}

@media (min-width: 300px) and (max-width: 580px) {
    .menu figure img {
        width: 54px ;
    }

    .menu nav ul li a {
        font: 1rem 'Itim';
    }

    .menu nav ul {
        width: 110px !important;
    }

    footer figure img {
        width: 5rem;
    }

    footer .dados-pessoal {
        font: 500 0.7rem 'Inter';
    }

    footer .dados {
        font: 500 0.5rem 'Inter';
    }

}

@media (min-width: 581px) and (max-width: 700px) {

    footer figure img {
        width: 8rem;
    }
}